<!DOCTYPE html>

<body background="~/Content/Images/minimal-architecture-hd-wallpapers-77272-4704285.png"></body>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SEDAŞ TİCARET - </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Sedaş Ticaret", "Create", "Stoklar", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Stok Oluştur", "Create", "Stoklar")</li>
                    <li>@Html.ActionLink("Yeni Müşteri", "Create", "Musteriler")</li>
                    <li>@Html.ActionLink("Cari Tanımla", "Create", "Cariler")</li>
                    <li>@Html.ActionLink("Alış Satış İşlemleri", "Create", "Cariler")</li>
                    <li>@Html.ActionLink("Stok Hareket Tablosu", "Index", "Stoklar")</li>
                    <li>@Html.ActionLink("Rapor", "Index", "Cariler")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ASP.NET Uygulamam</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
