@model Sedas_Ticaret.Models.Cariler

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Cariler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Miktar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Miktar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tutar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tutar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Musteriler.MusteriAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Musteriler.MusteriAdi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stoklar.StokAdi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stoklar.StokAdi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CariID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
