@model IEnumerable<Sedas_Ticaret.Models.Musteriler>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MusteriAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MusteriSoyadi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telno2)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MusteriAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MusteriSoyadi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Adresi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telno2)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MusteriID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MusteriID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MusteriID })
        </td>
    </tr>
}

</table>
